rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // فتح كامل للتطوير (مؤقت)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
